*{
    background-color:rgb(0, 0, 22);
    color: white;
    margin: 0;
    padding: 0;
}
  header{
  display: flex;
}
  .header1{
  flex:3;
  text-align: left;
  display:flex;
}
.Realm{
    flex:1;
}
.search-container{
    flex:4;
    padding-top: 10px;
}
.header2{
    flex:5;
    text-top: 20px;
}
.header3{
    flex:2;
    text-align: right;
    padding: 10px;
}
main{
    display:flex;
}
.s1{
    flex:1;
    position: sticky;
}
details{
    border: 1px solid white;
    border-radius: 5px;
    padding:5px;
}
details:hover{
    background-color: rgba(107,247,0,0.918)
}
summary{
    text-decoration: underline;
}
summary:hover{
    color:rgb(0, 183, 255);
}
.s2{
    flex:2;
    padding:10px;
}
#img{
  height:300px;
  width:500px;
  place-items:center;
  display:block;
  margin: 0 auto;
}

.s3{
    flex:3;
    border: 5px solid white;
    background: radial-gradient(circle, rgb(0,42,255)0%,rgb 100%);

    padding: 20px;
}